.underConstruction {
    height: 100%;
    padding: 2rem;
    padding-left: 4rem;
    display: grid;
    grid-template-rows: auto 1fr;
}

.content {
    align-self: center;
    justify-self: center;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.content__image {
    max-width: 100%; 
    height: auto;    
    display: block; 
}

@media screen and (width <= 750px) {
    .underConstruction {
        padding-left: 2rem;
    }

    .content {
        flex-direction: column;
    }

    .content > h1 {
        text-align: center;
    }

    header {
        display: flex;
        justify-content: center;
    }
}