.underConstruction {
    height: 100%;
    padding: 2rem;
    padding-left: 4rem;
    display: grid;
    grid-template-rows: auto 1fr;
}

@media screen and (width <= 750px) {
    .underConstruction {
        height: 100vh;
        padding: 2rem 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .underConstruction > header {
        display: flex;
        justify-content: center;
    }
}