/* SECTION: DASHBOARD STYLING */
.dashboardPage {
    grid-area: content;
}

.dashboard__content {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-around;
    align-items: center;
    grid-area: userPageContent;
}

.Dashboard__Calendar {
    /* Override DateCalendar MUI component style for this component */
    margin: 0px !important ;
}

/* SECTION: SESSION HISTORY STYLING */
.sessionHistorySummary {
    display: flex;
    align-items: center;
    width: 80%;
    min-width: max-content;
    max-width: 600px;
}

.sessionHistorySummary__date {
    min-width: 150px;
    text-align: center;
}

.sessionHistorySummary .ExerciseTable__lastRow,
.metrics__selectedExerciseHistory .ExerciseTable__lastRow {
    border-bottom: var(--card-border-bottom-color);
}

.sessionHistorySummary .ExerciseTable__lastRow:last-child,
.metrics__selectedExerciseHistory .ExerciseTable__lastRow:last-child {
    border-bottom: none;
}

/* SECTION: SESSION HISTORY MODAL STYLING */
.SessionHistorySummaryModal .sessionHistorySummary {
    margin: 0px;
    width: 100%;
    padding: 1rem 2rem;
}

.SessionHistorySummaryModal .sessionHistorySummary:hover {
    transform: none;
    cursor: auto;
}

/* SECTION: VOLUME PER SESSION GRAPH COMPONENT STYLING */
.volumePerSessionGraph {
    width: 80%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.volumePerSessionGraph__title {
    text-align: center;
    margin: 1rem 0px 2rem;
}

.volumePerSessionGraph__controlBtns {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

/* SECTION: MUSCLE GROUP PIE CHART STYLING */
.muscleGroupPieChart__title {
    text-align: center;
}

/* Media Queries */

@media screen and (width <= 500px) {
    .dashboardPage {
        height: calc(100dvh - var(--navbar-hight-small));
        overflow-y: scroll;
    }

    .dashboardPage::-webkit-scrollbar {
        display: none;
    }

    .sessionHistorySummary {
        display: flex;
        flex-direction: column;
    }
    
    .SessionHistorySummaryModal .sessionHistorySummary {
        padding: 0.5rem 1rem;
    }

    .SessionHistorySummaryModal .sessionHistorySummary__date {
        margin-bottom: 12px;
    }

    .volumePerSessionGraph__controlBtns {
        gap: 0.5rem;
    }

}

@media screen and (width <= 950px) {
    .sessionHistorySummary__date {
        min-width: min-content;
        margin-right: 1rem;
    }

    .sessionHistorySummary {
        min-width: min-content;
    }
}