/* SECTION: DASHBOARD STYLING */
.dashboardPage {
    grid-area: content;
}

.dashboard__content {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1.5rem;
    column-gap: 1rem;
    justify-content: space-around;
    align-content: start;
    grid-area: userPageContent;
}

/* SECTION: MUI CALENDAR STYLING */

.Dashboard__Calendar {
    /* Override DateCalendar MUI component style for this component */
    margin: 0px !important;
    height: var(--calendar-size) !important;
    width: var(--calendar-size) !important;
}

.Dashboard__Calendar .MuiPickersCalendarHeader-label {
    font-size: 12px;
}

.Dashboard__Calendar .MuiPickersCalendarHeader-root {
    margin: 0px;
}

.Dashboard__Calendar .MuiDayCalendar-header {
    justify-content: space-evenly;
}

.Dashboard__Calendar .MuiPickersDay-root {
    font-size: 10px;
    margin: 0px;
}

.Dashboard__Calendar .MuiDayCalendar-weekDayLabel {
    margin: 0px;
}

.Dashboard__Calendar .MuiDayCalendar-weekContainer {
    margin: 0px;
}

.Dashboard__Calendar .MuiPickersYear-yearButton {
    font-size: 14px;
    margin: 0px;
}

/* SECTION: SESSION HISTORY STYLING */
.sessionHistorySummary {
    margin: 1rem 0px;
    display: flex;
    align-items: center;
    width: 80%;
    min-width: max-content;
    max-width: 600px;
}

.sessionHistorySummary__date {
    min-width: 150px;
    text-align: center;
}

/* SECTION: SESSION HISTORY MODAL STYLING */
.SessionHistorySummaryModal .sessionHistorySummary {
    margin: 0px;
    width: 100%;
    padding: 1rem 2rem;
}

.SessionHistorySummaryModal .sessionHistorySummary:hover {
    transform: none;
    cursor: auto;
}

/* SECTION: VOLUME PER SESSION GRAPH COMPONENT STYLING */
.volumePerSessionGraph {
    width: 80%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.volumePerSessionGraph__title {
    text-align: center;
    margin: 1rem 0px 2rem;
}

.volumePerSessionGraph__controlBtns {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

/* SECTION: MUSCLE GROUP PIE CHART STYLING */
.muscleGroupPieChart {  
    height: var(--pie-chart-height);
    margin: 0px;
}
.muscleGroupPieChart__title {
    margin: 0px;
    text-align: center;
}

.muscleGroupPieChart text {
    font-size: 14px;
}

/* Media Queries */

@media screen and (width <= 500px) {
    .dashboardPage {
        height: calc(100dvh - var(--navbar-height-small));
        overflow-y: scroll;
    }

    .dashboardPage::-webkit-scrollbar {
        display: none;
    }

    .dashboard__content {
        padding: 1rem 0px;
    }

    .sessionHistorySummary {
        display: flex;
        flex-direction: column;
    }
    
    .SessionHistorySummaryModal .sessionHistorySummary {
        padding: 0.5rem 1rem;
    }

    .SessionHistorySummaryModal .sessionHistorySummary__date {
        margin-bottom: 12px;
    }

    .volumePerSessionGraph__controlBtns {
        gap: 0.5rem;
    }

}

@media screen and (width <= 950px) {
    .sessionHistorySummary__date {
        min-width: min-content;
        margin-right: 1rem;
    }

    .sessionHistorySummary {
        min-width: min-content;
    }
}