:root {
    --header-height: 100px;
    --navbar-width: 250px;
    --navbar-width-small: 125px;
    --navbar-high-small: 55px;

    --dashboard-font-color: rgb(60, 60, 60);
    --dashboard-font-size: 16px;

    --user-page-background-color: rgba(249,250,253,1.0);
}

.userPageContainer {
    height: 100dvh;
    padding: 1rem;
    display: grid;
    column-gap: 2rem;
    grid-template: var(--header-height) 1fr / var(--navbar-width) 1fr;
    grid-template-areas: "dashboard header" "dashboard content";
    background-color: var(--user-page-background-color)
}

.navbar {
    grid-area: dashboard;
}

@media screen and (width <= 950px) {
    .userPageContainer {
        grid-template: var(--header-height) 1fr / var(--navbar-width-small) 1fr;
        grid-template-areas: "dashboard header" "dashboard content";
    }  
}

@media screen and (width <= 500px) {
    .userPageContainer {
        padding: 0px;
        display: block;
    }
}