.metricsPage {
    margin: 1rem 3rem;
}

.metrics__header {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

/* SECTION: METRICS CONTENT STYLING */
.metrics__content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    justify-content: space-between;
    align-items: stretch;
    column-gap: 1rem;
    row-gap: 0.5rem;
}

.metrics__contentTitle {
    text-align: center;
    margin-bottom: 0.75rem;
}

.metrics__noContentMsg {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.metricsPage__noHistoryMsg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.exerciseSelected {
    height: 100%;
}

/* SECTION: SEARCH BAR STYLING */
.searchBarComponent {
    position: relative;
    display: flex;
    flex-direction: column;
    max-height: 400px;
    width: 350px;
}

.metricsPage .resultsContainer {
    position: absolute;
    border: 1px solid var(--accent-color-with-opacity);
    border-radius: var(--card-border-radius);
    overflow-y: scroll;
    min-height: min-content;
    max-height: 400px;
    z-index: 1000;
}

.searchResultsContainer {
    width: 100%;
    top: var(--searchBarHeight);
    background-color: white;
}

/* For WebKit (Chrome, Safari, etc.) */
.metricsPage .resultsContainer::-webkit-scrollbar {
    display: none;
}

/* For Firefox */
.metricsPage .resultsContainer {
    scrollbar-width: none; 
}

/* SECTION: MOST RECENT EXERCISES COMPONENT STYLING */
.mostRecentComponent {
    position: relative;
}
.mostRecentComponent__btn {
    margin: 0px !important;
    height: 40px;
    padding: 4px 1rem !important;
}

.mostRecentComponent__results {
    width: 290px;
    right: 0px;
    top: calc(var(--searchBarHeight) + 12px);
}

/* SECTION: SELECTED EXERCISE HISTORY STYLING */
.metricsPage .metrics__selectedExerciseHistory {
    flex-grow: 1;
    min-width: var(--selected-exercise-history-min-width);
    max-height: var(--selected-exercise-history-height);
    height: fit-content;
    overflow-y: auto;
    padding: 0px;
}

.metrics__selectedExerciseHistory::-webkit-scrollbar {
   border-radius: var(--card-border-radius);
}

.metrics__selectedExerciseHistory::-webkit-scrollbar-thumb {
    border-radius: var(--card-border-radius);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background: rgba(0, 0, 0, 0.135);
}

.selectedExerciseHistory__title {
    text-align: center;
    padding: 0.5rem 0px;
    background-color: white;
    border-bottom: 1px solid var(--border-bottom-color-grey);
}

/* SECTION: SELECTED EXERCISE COMPONENT STYLING */
.selectedExercise__gifWrapper {
    position: relative;
    width: fit-content;
    height: auto;
    background-color: white !important;
    cursor: default !important;
}

/* SECTION: BAR CHART STYLING */
.metricsPage .setsHistory {
    width: 100%;
}

/* SECTION: MEDIA QUERIES */
@media screen and (min-width: 1301px) {
    .metricsPage .metrics__selectedExerciseHistory {
        max-width: var(--selected-exercise-history-max-width);
    }
} 

@media screen and (max-width: 1300px) {
    .selectedExercise__gifWrapper {
        width: fit-content;
    }
} 

@media screen and (max-width: 950px) {
    .metricsPage {
        margin: 1rem;
    }
    
    .metrics__content {
        margin-top: 1rem;
    }
}

@media screen and (max-width: 750px) {
    .metrics__content {
        justify-content: center;
    }
    
    .searchBarComponent {
        width: auto;
        flex-grow: 1;
    }
}

@media screen and (max-width: 600px) {
    .mostRecentComponent__btn {
        padding: 0px 4px !important;
    }
    .mostRecentComponent__btn span{
        font-size: 12px;
        line-height: 16px;
    }
}

@media screen and (max-width: 500px) {
    .metricsPage {
        margin: 0px;
        padding-bottom: 2rem !important;
        height: calc(100dvh - var(--navbar-height-small));
        overflow-y: scroll;
    }

    .metrics__content {
        height: fit-content;
    }

    .metrics__contentTitle {
        margin-top: 1rem;
    }
}