.workoutPage {
    grid-area: content;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    width: 100%;
}

.workoutPage * {
    font-size: 18px;
}

.workoutPage > .startWorkoutButton {
    display: flex;
    justify-content: space-between;
    align-self: stretch;
}

.workoutPage .addExerciseButton {
    display: flex;
    justify-content: center;
}

.workoutPage svg {
    height: var(--link-logo-height);
}

.RestTimerButton > div > div {
    display: grid;
    place-content: center;
}

/* SECTION: Exercise Session component */
.exerciseSession {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* SECTION: Exercise Modal component */
.ExerciseModal {
    position: relative;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ExerciseModal .searchBarInput {
    width: 100%;
}

.exerciseModal__restTimer {
    padding: 4px 0px 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}

/* SECTION: Exercise Item component */
.ExerciseItem {
    background-color: rgba(85,85,85,0.0078);
    border-radius: var(--card-border-radius);
    box-shadow: var(--sml-card-box-shadow);
    padding: 8px 1rem;
    margin: 10px 0px;
}

.ExerciseItem:hover {
    box-shadow: var(--sml-card-box-shadow--hover);
}

.ExerciseItem > table * {
    padding: 4px;
    font-family: inherit;
    border: none;
}

.ExerciseItem thead {
    border-bottom: 1px solid rgba(80,80,80,0.6);
}

.ExerciseItem__exerciseName {
    width: 150px;
}

/* SECTION: Exercise Group List styling */
.exerciseGroupList__item {
    padding: 1rem 0.5rem;
    border-bottom: 1px solid var(--accent-color-with-opacity);
}

.accordionDetails .exerciseGroupList__item:last-child {
    border-bottom: none;
}

.exerciseGroupList__item:hover {
    cursor: pointer;
    background-color: var(--accent-color-with-opacity);
    border-radius: var(--link-border-radius);
    scale: 1.005;
}

/* SECTION: Exercise Details component styling */
.exerciseDetails .links__icon > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.exerciseDetails__addExerciseBtn {
    justify-self: center;
    min-width: max-content !important;
    width: 90%;
}

.exerciseDetails__header > button {
    margin: 0px;
}

.exerciseDetails__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0px;
    gap: 0.75rem;
}

.exerciseDetails .gifContainer {
    position: relative;
}

.exerciseDetails__skeleton {
    position: absolute;
    top: 0;
    left: 0;
}

/* SECTION: Exercise Session Data component styling */
.exerciseSessionData {
    width: 280px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.exerciseSessionData__controlBtns {
    display: flex;
    justify-content: space-between;
}

.exerciseSessionData button {
    margin: 0px;
}

.exerciseSessionData > h2 {
    margin: 8px 0px;
}

.exerciseSessionData .sessionLinks {
    display: flex;
    flex-direction: column;
    gap: 6px;   
}

/* SECTION: Media Queries */

@media screen and (width <= 500px) {
    .workoutPage {
        margin: 0.75rem 0;
    }
    
    .workoutPage * {
        font-size: 16px;
    }
    
    .exerciseSession {
        min-width: 275px;
    }
    
    .workoutPage {
        padding: 0 10%;
    }

    .exerciseSessionData {
        width: 240px;
    }

    .exerciseDetails {
        margin-top: 2rem;
    }

    .exerciseDetails__header > button {
        margin-top: 8px;
    }
}

@media screen and (width <= 600px) {
    .exerciseDetails {
        width: 80%;
    }

    .exerciseModal__restTimer {
        margin-top: 2.5rem;
    }
}