.workoutPage {
    grid-area: content;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    width: 100%;
}

.workoutPage__content {
    grid-area: userPageContent;
    align-self: start;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.workoutPage * {
    font-size: 18px;
}

.workoutPage .startWorkoutButton {
    display: flex;
    width: 80%;
}

.workoutPage .addExerciseButton {
    display: flex;
    justify-content: center;
    width: 80%;
}

.workoutPage .finishSessionButton,
.workoutPage .RestTimerButton {
    width: 80%;
}

.workoutPage svg {
    height: var(--link-logo-height);
}

.RestTimerButton > div > div {
    display: grid;
    place-content: center;
}

.invalidInputStyle {
    border: 1px solid red !important;
}

/* SECTION: Exercise Session component */
.exerciseSession {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* SECTION: Exercise Modal component */
.ExerciseModal {
    position: relative;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ExerciseModal .searchBarInput {
    width: 100%;
}

.exerciseModal__restTimer {
    padding: 4px 0px 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}

/* SECTION: Search Results component */
.searchResults {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* SECTION: Exercise Item component */
.Card {
    background-color: var(--card-background-color);
    border-radius: var(--card-border-radius);
    box-shadow: var(--sml-card-box-shadow);
    padding: 8px 1rem;
    margin: 10px 0px;
}

.Card:hover {
    box-shadow: var(--sml-card-box-shadow--hover);
    cursor: pointer;
}

.Card > table * {
    padding: 4px;
    font-family: inherit;
}

.Card thead {
    border-bottom: var(--card-border-bottom-color);
}

.ExerciseItem {
    width: 80%;
    min-width: 250px;
}

.ExerciseItem__exerciseName {
    width: 150px;
}

/* SECTION: Exercise Group List styling */
.exerciseGroupList__item {
    padding: 1rem 0.5rem;
    border-bottom: 1px solid var(--accent-color-with-opacity);
    background-color: white;
}

.accordionDetails .exerciseGroupList__item:last-child {
    border-bottom: none;
}

.exerciseGroupList__item:hover {
    cursor: pointer;
    background-color: var(--accent-color-lite);
    border-radius: var(--link-border-radius);
    scale: 1.005;
}

/* SECTION: Exercise Details component styling */
.exerciseDetails {
    width: 80%;
}

.exerciseDetails .links__icon > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.exerciseDetails__addExerciseBtn {
    min-width: max-content !important;
    width: 80%;

}

.exerciseDetails__header {
    display: grid;
    place-items: center;
}

.exerciseDetails__header > button {
    margin: 0px;
}

.exerciseDetails__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem 0px;
    gap: 0.75rem;
}

.exerciseDetails__skeleton {
    position: absolute;
    top: 0;
    left: 0;
}

/* SECTION: Exercise Session Data component styling */
.exerciseSessionData {
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 2rem 0px;
}

.exerciseSessionData__controlBtns {
    display: flex;
    justify-content: space-between;
}

.exerciseSessionData > h2 {
    margin: 8px 0px;
}

.exerciseSessionData .sessionLinks {
    display: flex;
    flex-direction: column;
}

.exerciseSessionData .sessionLinks > button {
    margin: 4px 0px;
}

/* Exercise Session Table component styling */
.exerciseSessionTable th,
.exerciseSessionTable td {
    font-size: var(--exercise-table-font-reg);
    font-weight: 500;
}

.exerciseSessionTable td {
    font-weight: 400;
}

.exerciseSessionTable button {
    margin: 2px;
}

/* Exercise Table Components styling */
.exerciseTableInput {
    width: 60px;
    font-size: var(--exercise-table-font-reg);
    padding: 8px;
    text-align: center;
    border: 1px solid black;
    border-radius: 4px;
}

.exerciseTableInputRow > td {
    padding: 6px 16px;
}

/* SECTION: Media Queries */

@media screen and (width <= 500px) {    
    .workoutPage {
        padding: 1.5rem 10% 0px;
        height: calc(100dvh - var(--navbar-height-small));
    }
    
    .workoutPage * {
        font-size: 16px;
    }

    .workoutPage .startWorkoutButton {
        width: 60%;
        margin-top: 24px;
    }

    .exerciseGroupList__item {
        font-size: 12px;
    }
    
    .exerciseSession {
        min-width: 275px;
        overflow: scroll;
        padding: 1rem 10%;

        /* Hide scroll bar */
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }
    }

    .exerciseSessionData {
        width: 240px;
    }

    .exerciseDetails {
        margin-top: 2rem;
    }

    .exerciseDetails__body {
        margin: 2rem;
    }

    .exerciseDetails__header > button {
        margin-top: 8px;
    }

    .exerciseSessionTable th {
        font-size: var(--exersise-table-font-sml);
    }

    .exerciseSessionTable td,
    .exerciseTableInput {
        font-size: var(--exercise-table-data-font-sml);
    }

    .exerciseTableInput {
        width: 45px;
    }
}

@media screen and (width <= 600px) {
    .exerciseModal__restTimer {
        margin-top: 2.5rem;
    }
}