.HistoryPage {
    grid-area: content;
}

.History__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.History__content .sessionHistorySummary {
    cursor: auto;
}

.History__content .content__navBtns {
    display: flex;
    gap: 1rem;
    margin-bottom: 12px;
}

.HistoryPage__noHistoryMessage {
    margin: auto;
}

@media screen and (max-width: 500px) {
    .HistoryPage {
        height: calc(100dvh - var(--navbar-height-small));
        overflow-y: scroll;
        padding: 1.5rem 0px 1rem;
    }

    .HistoryPage::-webkit-scrollbar {
        display: none;
    }
}