:root {
    --logo-height: 40px;
    --footer-height: 50px;

    --dominant-color: white;
    --secondary-color: #a8dadc;
    --accent-color: #4b86aa;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* SEMANTIC STYLING */

html, body, #root {
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-weight: 600;
    font-size: 42px;
    letter-spacing: -0.8px;
    padding: 6px 0px;
}

h2 {
    font-size: 30px;
    letter-spacing: -0.4px;
}

h4 {
    font-size: 20px;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

p {
    padding: 4px 0px;
}

/* ASSETS */
.gymGraphLogo {
    height: var(--logo-height)
}