:root {
    --logo-height: 40px;
    --footer-height: 50px;

    --dominant-color: white;
    --secondary-color: rgba(168,218,220,1.0);
    --accent-color: rgba(75,134,170,1.0);
    --accent-color-with-opacity: rgba(75,134,170,0.15);
    --accent-color-lite: rgb(228, 236, 242);
    --pink-color: rgba(192,112,255,0.60);
    --pink-color-lite: rgba(192,112,255,0.33);
    --grey-color: rgba(85,85,85,1.0);
    --grey-color-lite: rgba(85,85,85,0.80);

    --text-input-box-outline-color: rgba(203,203,203,1.0);
    --text-input-width-standard-screen: 250px;
    --text-input-width-small-screen: 280px;

    --card-background-color: rgba(85,85,85,0.0078);
    --card-border-radius: 12px;
    --card-box-shadow: 0px 4px 8px 6px var(--accent-color-with-opacity);
    --card-box-shadow--hover: 0px 4px 12px 10px var(--accent-color-with-opacity);
    --card-border-bottom-color: 1px solid rgba(80,80,80,0.6);
    
    --sml-card-box-shadow: 0px 2px 4px 3px var(--accent-color-with-opacity);
    --sml-card-box-shadow--hover: 0px 2px 6px 5px var(--accent-color-with-opacity);

    --link-padding: 8px;
    --link-border-radius: 0.5rem;
    --link-logo-height: 25px;
    --link-font-size-small-screen: 12px;

    --control-button-size: 18px;
    --control-button-svg-size: 16px;

    --gif-size-small: 250px;
    --gif-size-reg: 350px;

    --exercise-table-font-reg: 18px;
    --exersise-table-font-sml: 16px;
    --exercise-table-data-font-sml: 14px;

    --selected-exercise-history-min-width: 250px;
    --selected-exercise-history-max-width: 700px;
    --selected-exercise-history-height: 400px;

    --searchBarHeight: 40px;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* SEMANTIC STYLING */

html, body, #root {
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-weight: 600;
    font-size: 42px;
    letter-spacing: -0.8px;
    padding: 6px 0px;
}

h2 {
    letter-spacing: -0.4px;
}

h4 {
    font-size: 20px;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

p {
    padding: 4px 0px;
}

/* Override the MUI default font */
td, input {
    font-family: inherit !important;
}

@media screen and (width <= 750px) {
    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 20px;
    }

    h4 {
        font-size: 18px;
    }
}

/* ASSETS */
.gymGraphLogo {
    height: var(--logo-height)
}

.addSymbol {
    font-size: 18px;
    margin: 0px 8px;
}

/* GLOBAL COMPONENTS */ 
.controlButton {
    min-width: calc(var(--control-button-size) + 25px) !important;
}

.controlButton__svg svg {
    height: var(--control-button-svg-size);
    width: var(--control-button-svg-size);
    margin: 4px 0px;
}

.controlButton__svg > div {
    display: grid;
    margin: 4px 0px;
}

.backButton {
    position: absolute;
    top: 0px;
    right: 0px;
}

.backButton > div > div {
    display: grid;
    place-items: center;
    padding: 4px;
}

.greyButton {
    font-size: 18px;
}

@media screen and (width <=500px) {
    .greyButton {
        font-size: 16px;
    }
}

/* DIVIDER */
/* Divider - Vertical */
.divider-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
}

.divider__line-vertical {
    width: 1px;
    background-color: var(--text-input-box-outline-color);
    flex-grow: 1;
    border-radius: 100px;
}

.divider__text-vertical {
    display: inline-block;
    padding: 16px 8px;
}

@media screen and (width <= 750px) {
    html, body, #root {
        height: auto;
        min-height: 100vh;
    }

    .divider-vertical {
        flex-direction: row;
        width: 80%;
    }

    .divider__line-vertical {  
        height: 1px;
        width: auto;
    }

    .divider__text-vertical {
        padding: 8px 16px;
    }
}

/* Divider - Horizontal */
.divider-horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.divider__line-horizontal {  
    flex-grow: 1;
    height: 1px;
    background-color: var(--text-input-box-outline-color);
}

.divider__text-horizontal {
    display: inline-block;
    padding: 8px 16px;
}

/* Search Bar component styling */
.searchBarInput {
    height: var(--searchBarHeight)
}

/* Gif component styling */
.gifContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (width > 950px) {
    .gifContainer,
    .gifContainer > img,
    .exerciseDetails__skeleton {
        width: var(--gif-size-reg) !important;
        height: var(--gif-size-reg) !important;
    }
}

@media screen and (width <= 950px) {
    .gifContainer,
    .gifContainer > img,
    .exerciseDetails__skeleton {
        width: var(--gif-size-small) !important;
        height: var(--gif-size-small) !important;
    }
}

/* Graph Component Styling */
.graphWithControlBtns {
    width: 80%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.graphWithControlBtns__title {
    text-align: center;
    margin: 1rem 0px 2rem;
}

.graphWithControlBtns__controlBtns {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.graphWithControlBtns__subtitle {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 8px;
}

/* Remove default spinners on the numberic input html element */
/* For Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}