:root {
    --logo-height: 40px;
    --footer-height: 50px;

    --dominant-color: white;
    --secondary-color: rgba(168,218,220,1.0);
    --accent-color: rgba(75,134,170,1.0);
    --accent-color-with-opacity: rgba(75,134,170,0.15);

    --text-input-box-outline-color: rgba(203,203,203,1.0);
    --text-input-width-standard-screen: 250px;
    --text-input-width-small-screen: 280px;

    --screen-small: 750px;

    --card-border-radius: 2rem;
    --card-box-shadow: 0px 4px 8px 6px var(--accent-color-with-opacity);
    --card-box-shadow--hover: 0px 4px 12px 10px var(--accent-color-with-opacity);

    --link-padding: 8px;
    --link-border-radius: 0.6rem;
    --link-logo-height: 25px;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* SEMANTIC STYLING */

html, body, #root {
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-weight: 600;
    font-size: 42px;
    letter-spacing: -0.8px;
    padding: 6px 0px;
}

h2 {
    letter-spacing: -0.4px;
}

h4 {
    font-size: 20px;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

p {
    padding: 4px 0px;
}

@media screen and (width <= 750px) {
    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 20px;
    }

    h4 {
        font-size: 18px;
    }
}

/* ASSETS */
.gymGraphLogo {
    height: var(--logo-height)
}

/* GLOBAL COMPONENTS */

/* DIVIDER */
/* Divider - Vertical */
.divider-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
}

.divider__line-vertical {
    width: 1px;
    background-color: var(--text-input-box-outline-color);
    flex-grow: 1;
    border-radius: 100px;
}

.divider__text-vertical {
    display: inline-block;
    padding: 16px 8px;
}

@media screen and (width <= 750px) {
    html, body, #root {
        height: auto;
        min-height: 100vh;
    }

    .divider-vertical {
        flex-direction: row;
        width: 80%;
    }

    .divider__line-vertical {  
        height: 1px;
        width: auto;
    }

    .divider__text-vertical {
        padding: 8px 16px;
    }
}

/* Divider - Horizontal */
.divider-horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.divider__line-horizontal {  
    flex-grow: 1;
    height: 1px;
    background-color: var(--text-input-box-outline-color);
}

.divider__text-horizontal {
    display: inline-block;
    padding: 8px 16px;
}