.circularProgressbar__outerCircle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    box-shadow: 3px 3px 6px -1px rgba(0,0,0,0.25);
}

.circularProgressbar__innerCircle {
    border-radius: 100%;  
    z-index: 1000;
    box-shadow: inset 3px 3px 6px 0px rgba(0,0,0,0.25);
}

/* SECTION: SVG Circle Styling */
.circularProgressbar__circle {
    position: absolute;
    top:0;
    left:0;
}

.circularProgressbar__circle > circle {
    stroke: var(--secondary-color);
    fill:none;
}   