.logoutButton {
    background: none;
    border: none;
    border-radius: var(--link-border-radius);
    font-family: inherit;
    font-weight: bold;
    color: var(--dashboard-font-color);
    font-size: var(--dashboard-font-size);
    padding: var(--link-padding);
    text-align: center;
    align-self: stretch;
}

.logoutButton:hover {
    cursor: pointer;
}