/* SECTION: Navbar Styling */
.navbar {
    min-height: 580px;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 1rem 1.3rem;
    padding: 2rem 0.25rem;
    border-radius: var(--card-border-radius);
    box-shadow: var(--card-box-shadow);
    transition: box-shadow 0.2s;
    background-color: white;
}

.navbar:hover {
    box-shadow: var(--card-box-shadow--hover);
}

.navbar__links {
    display: flex;
    align-self: stretch;
    flex-direction: column;
    gap: 8px;
    margin-top: 4rem;
}

/* SECTION: Link Styling */
.link, .logoutButton {
    transition: background-color 0.2s;
}

.link {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 6px;
    color: var(--dashboard-font-color);
    font-size: var(--dashboard-font-size);
    text-align: center;
    padding: var(--link-padding);
    border-radius: var(--link-border-radius)
}

:not(.active).link:hover,
.logoutButton:hover {
    background-color:var(--secondary-color);
    color: white;
}

/* SECTION: Link Logo Styling */
.links__icon svg {
    height: var(--link-logo-height);
}

.navbar__links > :not(.active) svg {
    fill: var(--dashboard-font-color);
}

.navbar__links > .active svg {
    fill: white ;
}
:not(.active).link:hover svg,
.logoutButton:hover svg{
    fill: white;
}

/* SECTION: Misc Styling */
.logoutButton {
    margin-top: auto;
    margin-bottom: 2rem;
}

.active {
    background-color: var(--accent-color);
    color: white ;
}

/* Responsive styling for small width browser windows */
@media screen and (max-width: 950px) {
    .navbar {
        width: fit-content;
        align-items: center;
    }

    .link {
        justify-content: center;
    }
}

/* Responsive styling for mobile sized devices */
@media screen and (max-width: 500px) {
    /* The navbar will be positioned absoluted on the bottom */
    .navbar {
        position: fixed;
        bottom: 0;
        z-index: 1000;
        flex-direction: row;
        min-height: 0;
        margin: 0;
        padding: 4px 12px;
        width: 100%;
    }

    .navbar__links {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: 0;
        justify-content: space-around;
    }
}