.RestTimer {
    height: fit-content;
    width: fit-content;
    padding: 1rem 2rem;
    border-radius: var(--card-border-radius);
    box-shadow: var(--card-box-shadow);
    display: flex;
    flex-direction: column;
}

.RestTimer > .circularProgressbar__outerCircle {
    margin-bottom: 2rem;
    align-self: center;
}

.RestTimer__content {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    place-items: center;
    height: 100%;
}

.RestTimer__chosenTime {
    font-size: 20px;
    opacity: 0.6;
}

.RestTimer__remainingTime {
    font-size: 2.5rem;
    font-weight: 600;
}

.RestTimer__timeAdjustmentButtons {
    display: flex;
    gap: 1rem;
}

.RestTimer__timeAdjustmentButtons > * {
    flex-grow: 1;
}

.RestTimer button:hover {
    color: white;
}

@media screen and (width <= 500px) {
    .RestTimer {
        padding: 1rem;
    }
}